/*
class= "first-head"
.first-head
id = "paragraph"
#paragraph
<p dragable = "true">
p[dragable]{
}

"*" it means select all

mdn dics named colors, this is where you can find all the colors for css.

for theme colors go to "color hunt"

Text Properties:
#pixel px;
#point:  20pt;
#em: 1em;
footer: footer is a section placed at the bottom of a webpage.
html: xx-large;

for fonts go to google fonts.

use height and width using "%" 

border value contains three things for example
border: 10px solid black

padding propert push out the things you want to change.
Margin is outside of the border.


- you can add <style> into html code



*/

